.searchBarre {
  /*barre de recherche*/
  .barreDeRecherche {
    margin: auto;
  }

  #recherche {
    /* position: absolute;*/
    margin-top: 20px;
    border-radius: 0 20px 20px 0;
    width: 450px;
    height: 40px;
  }
  /*button*/
  .buttonDeRecherche {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px 0 0 20px;
  }
  .searchBarre {
    text-align: center;
  }
}
